$header-height: 5rem;
$header-height-mobile: 4rem;
$header-height-tablet: 5rem;

$card-padding: 1rem;

$grid-gap-row: 6.5rem;
$grid-gap-column: 2.5rem;

$swatch-size: 32px;
$slider-width: 63%;
$cart-width: 420px;
$burger-menu-width: 30px;
$quick-shop-btn-size: 52px;

$header-nav-underline-width: 2px;
$container-width-desktop: 1232px;
